@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: Medium;
}
@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: semi-bold;
}

html, body{
    background-color: #000d10;
    font-family: Arial, sans-serif;
    color: #ffffff;
    height:100%;
    margin: 0;
    padding: 0;
    width:100%;
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.flat{
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
}
.float-right{
    position: absolute;
    right: 10px;
}
.header{
    padding:0;
    margin:0;
    position: relative;
    width: 100%;
}
.main-body{
    border-top:1px solid #2cff2c;
    padding: 10px;
    margin: 0;
    width: auto;
    flex:1;
    background-color: #111418;
}
.input-area{
    padding: 0;
    width:50%;
    height:100%;
    border-right:2px solid rgba(77, 77, 77, 0.744);
}
.options-area{
    padding: 0;
    width:50%;
    height:100%;
}
.result-area{
    padding: 0;
    width:100%;
    height:40%;
    display: flex;
    position: relative; 
    flex-direction: row; 
    align-items: center;
}
.h-60{
    height: 60%;
}
.green-icon{
    color: #2cff2c;
    text-decoration: bold;
}
.green-icon:hover{
    text-shadow:0 0 8px #6dff6d;
}
.label{
    color:white;
    font-weight: semi-bold;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: 'Rajdhani', sans-serif;
}
.select2-container{
    height: 2.5em;
    border-radius: 4px;
    background-color: #181a1d;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
.select2-container--below {
    min-height: fit-content !important;
}
.select2-container .select2-selection{
    border-radius: 4px;
    background-color: #1d2023;
    min-height: fit-content !important;
    border: 1px solid #444;
    font-family: 'Rajdhani', sans-serif;
}
.select2-selection{
    height:100% !important;
    line-height: 1.5em;
    margin:0 !important;
    padding: 0 !important;
}

.select2-selection__rendered .select2-selection__choice__display{
    margin: 0;
    background-color: #1d2023;
}
.select2-selection__choice{
    background-color: #1d2023 !important;
}
.select2-container .select2-dropdown {
    background-color: #1f2428;
    color: white;
    border: 1px solid #444;
}
.select2-dropdown{
    border: 0px !important;
}
.select2-container .select2-results__option {
    background-color: #1f2428;
    color: white;
}
.selection{
    height: 1.2em;
    padding: 0 !important;
    min-height: fit-content;
}
.select2-search--inline {
  display: flex !important;
  height:5px;
  align-items: center !important;
}

.select2-search__field {
  display: block !important;
  height: auto !important;
  padding: 0.5em 0.5em !important;
  line-height: inherit !important;
  margin: 0 !important;
  box-sizing: border-box;
  font: inherit;
}
.select2-selection__choice__remove:hover {
    background-color: #3e454b !important;
    color: white !important;
}

#objectSelector > option {
    display: none !important;
}

.select2-container .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: #666 #1d2023;
}

.select2-container .select2-results__options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.select2-container .select2-results__options::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.select2-container .select2-results__options::-webkit-scrollbar-track {
  background: #1d2023;
  border-radius: 10px;
}

.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.select2-container--default .select2-results__option--highlighted {
  background-color: #191b1e !important;
  color: white !important;
}
.directories-area:disabled {
    width: 95%;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    resize: none;
    border: 1px solid #444;
}
.select2-container--focus .select2-selection .min-confidence-input:hover {
    box-shadow: 0 0 5px #2cff2c !important;
    border-color: #2cff2c !important;
}
.neon-button {
    background-color: #2cff2c;
    color: #001947;
    border: 1px solid #444;
    padding: 5px 10px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 1.15em;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}
.neon-button:hover {
    background-color: #6dff6d;
}
.neon-button:active {
    background-color: #1d2023;
    color: #2cff2c;
    box-shadow: 0 0 5px #2cff2c, 0 0 5px #2cff2c, 0 0 5px #2cff2c;
}
.checkbox-label{
    color:white;
    font-weight: semi-bold;
    font-size: 1.1em;
    font-family: 'Rajdhani', sans-serif;
}
.custom-folder-area:read-only {
    width: 60%;
    height:18px;
    padding-top: 0px;
    line-height: 2.2em;
    caret-color: auto;
    white-space: pre;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-wrap: nowrap;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    resize: none;
    border: 1px solid #444;
}
.custom-folder-area:focus {
    box-shadow: 0 0 5px #2cff2c !important;
    border-color: #2cff2c !important;
    outline: none;
}
::selection {
    background: #2cff2c;
    color: #001947;
}
.min-confidence-input{
    width: 50px;
    text-align: center;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid #444;
    margin-left: 15px;
}
.min-confidence-input:focus {
    box-shadow: 0 0 5px #2cff2c !important;
    border-color: #2cff2c !important;
    outline: none;
}
.checkbox {
    width:1.3em;
    height:1.3em;
    translate: 0 0.3em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: transparent;
    border: 2px solid #2cff2c;
    cursor: pointer;
    outline: none;
    position: relative;
    margin-right: 4px;
}
.checkbox:checked::after {
  content: '';
  position: absolute;
  left: 0.4em;
  top: 0.12em;
  width: 0.3em;
  height: 0.65em;
  border: solid #2cff2c;
  border-width: 0 0.18em 0.18em 0;
  transform: rotate(45deg);
}
.checkbox:hover {
    box-shadow: 0 0 5px #2cff2c;
}
.directories-area:disabled {
    width: 95%;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    resize: none;
    border: 1px solid #444;
    text-wrap: nowrap;
}
.results-text-area:disabled {
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    resize: none;
    text-wrap: nowrap;
    border: 1px solid #444;
}
.neon-button:disabled {
    background-color: #444;
    color: #888;
    cursor: auto;
    box-shadow: none;
}
.JSON-button, .open-folder-button{
    position: absolute;
    bottom:0;
    right:5px;
}
.JSON-button{
    right:125px;
}
#presets-menu{
    position: absolute;
    top: calc(30% + 1px);
    left: 70px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    padding:0;
    margin:0;
}
.preset{
    border:1px solid #2cff2c;
    font-family: 'Rajdhani', sans-serif;
    background-color: #1f2428;
    padding-top:0px;
    line-height: 2.3em;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.15em;
    border-left: 0;
    cursor:pointer;
}
.active{
    background-color: #111418;
    border-bottom: 0px;
    cursor:auto;
}
.first{
    border-left: 1px solid #2cff2c;
}
.first::before {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  width: 20px;
  height: 20px;
  background-color: #000d10;
  rotate: 45deg;
  z-index: 2;
  border-right: 1px solid #2cff2c;
}

.directories-area:disabled, 
.results-text-area,
.sidebar1,
.sidebar2{
  scrollbar-width: thin;
  scrollbar-color: #666 #1d2023;
}

.directories-area:disabled::-webkit-scrollbar, 
.results-text-area:disabled::-webkit-scrollbar,
.sidebar1::-webkit-scrollbar,
.sidebar2::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.directories-area:disabled::-webkit-scrollbar-button, 
.results-text-area:disabled::-webkit-scrollbar-button,
.sidebar1::-webkit-scrollbar-button,
.sidebar2::-webkit-scrollbar-button{
  display: none;
  height: 0;
  width: 0;
}

.directories-area:disabled::-webkit-scrollbar-track, 
.results-text-area:disabled::-webkit-scrollbar-track,
.sidebar1::-webkit-scrollbar-track,
.sidebar2::-webkit-scrollbar-track {
  background: #1d2023;
  border-radius: 10px;
}

.directories-area:disabled::-webkit-scrollbar-thumb, 
.results-text-area:disabled::-webkit-scrollbar-thumb,
.sidebar1::-webkit-scrollbar-thumb,
.sidebar2::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
#gear-button:hover {
    animation: spin-gear 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes spin-gear {
    from { 
        transform: rotate(0deg); 
    }
    to { 
        transform: rotate(1080deg); 
    }
}

.sidebar1, .sidebar2{
  width: 100%;
  height:100%;
  background-color: #111418;
  color: white;
  padding: 10px;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
  position: absolute;
  z-index: 3;
  box-shadow: 2px 0 8px #000;
  opacity:0.95;
  overflow: auto;
}
.sidebar2{
  width: 100%;
  height:100%;
  background-color: #111418;
  color: white;
  padding: 10px;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  position: absolute;
  z-index: 5;
  box-shadow: 2px 0 8px #000;
}

.sidebar1.active, .sidebar2.active {
  transform: translateX(0);
}

.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  overflow: auto;
}

.title{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: white;
    display:inline-block;
    padding-left: 25px;
    margin-right: 60px
}
.sidebar1-main-body{
    padding:0;
    margin:0;
    margin-top:25px;
    margin-left: 60px;
    height:fit-content;
    width:90%;
    overflow-x: hidden;
}

.sub-title{
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 0;
    padding-left: 0;
}
.separator{
    width:60%;
    height:0;
    border-top: 1px solid #2cff2c;
}
.cache-container{
    margin-left:5px;
    line-height: 0.925;
    max-width:fit-content;
    font-size: 25px;;
    letter-spacing: -3px;
    font-weight: bold;
    margin-bottom:20px;
    padding-right:6px;
}
.cache-button-area{
    margin-left:0;
    padding-left: 0;
    line-height: 0.9em;
    font-family: 'Rajdhani', sans-serif;
    * {
        line-height: initial;
    }
}
.rajdhani{
    font-family: 'Rajdhani', sans-serif;
    color:white;
    display: inline-block;
    margin-bottom: 0;
}

.slider-container {
  width: 500px;
  margin-top:20px;
  margin-bottom:30px;
  margin-left: 40px ;
  background-color: transparent;
  font-family: 'Rajdhani', sans-serif;
}

input[type="range"] {
  width: 100%;
  appearance: none;
  background: transparent;
  height: 6px;
  cursor: pointer;
  border-radius: 2px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 23px;
  width: 8px;
  transform: translate(0, -1px);
  background-color: #54ff54;
  border: 2px solid #1d2023;
  margin-top: -7px;
  position: relative;
  z-index: 2;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background-color: #1d2023;
  border: 2px solid #1d2023;
  border-radius: 50%;
  box-shadow: 0 0 5px #2cff2c;
}

/* Track – make it neutral by default, then we'll style with JS */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;
  border-radius: 3px;
}

.tick-labels {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: #ccc;
  margin-top: 5px;
  padding: 0 2px;
}
.feedback-text{
  font-family: 'Rajdhani', sans-serif;
  width: calc(60% - 20px);
  text-wrap: wrap;
  color: white;
  margin-top: 25px;
  margin-left: 20px;
  padding: 0;
  font-size: 1.1em;
}
.feedback-text-area, .feedback-text-area:focus{
  margin-left: 20px;
  height: 200px;
  width:calc(60% - 20px);
  background-color: #1d2023;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
  resize: none;
  border: 1px solid #444;
  outline: 0;
}
.feedback-text-area:focus{
  box-shadow: 0 0 4px #2cff2c !important;
  border-color: #2cff2c !important;
  outline: none;
}
.feedback-button{
  float: right;
  margin-right: 40%;
  margin-top: 10px;
  margin-bottom: 100px;
}
.sidebar2-main-body{
    padding:0;
    margin:0;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    height:fit-content;
    width:90%;
    overflow-x: hidden;
}
table.history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  text-align: left;
}

.history-table th,
.history-table td {
  padding: 8px 12px;
  background-color: transparent;
}

.history-table th {
  font-weight: bold;
  font-size: 1.1em;
  position: sticky;
}

.history-table tr {
  border-bottom: 1px solid lightgray;
}

.history-table tr:last-child {
  border-bottom: none;
}

.history-table tr:first-child {
  border-bottom: 1px solid #2cff2c;
}

.history-table td, .history-table th {
  border: none;
}