@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: Medium;
}
@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: semi-bold;
}

html, body{
    background-color: #000d10;
    font-family: Arial, sans-serif;
    color: #ffffff;
    height:100%;
    margin: 0;
    padding: 0;
    width:100%;
}
body{
    display: flex;
    flex-direction: column;
}
.flat{
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
}
.float-right{
    position: absolute;
    right: 10px;
}
.header{
    padding:0;
    margin:0;
    position: relative;
    width: 100%;
}
.main-body{
    padding: 10px;
    margin: 0;
    width: auto;
    flex:1;
    background-color: #111418;
}
.input-area{
    padding: 0;
    width:50%;
    height:100%;
    border-right:2px solid rgba(77, 77, 77, 0.744);
}
.options-area{
    padding: 0;
    width:50%;
    height:100%;
}
.result-area{
    padding: 0;
    width:100%;
    height:40%;
}
.h-60{
    height: 60%;
}
.green{
    color: #2cff2c;
    text-decoration: bold;
}
.label{
    color:white;
    font-weight: semi-bold;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: 'Rajdhani', sans-serif;
}
.select2-container{
    height: 2.5em;
    border-radius: 4px;
    background-color: #181a1d;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
.select2-container--below {
    min-height: fit-content !important;
}
.select2-container .select2-selection{
    border-radius: 4px;
    background-color: #1d2023;
    min-height: fit-content !important;
    border: 1px solid #444;
    font-family: 'Rajdhani', sans-serif;
}
.select2-selection{
    height:100% !important;
    line-height: 1.5em;
    margin:0 !important;
    padding: 0 !important;
}

.select2-selection__rendered .select2-selection__choice__display{
    margin: 0;
    background-color: #1d2023;
}
.select2-selection__choice{
    background-color: #1d2023 !important;
}
.select2-container .select2-dropdown {
    background-color: #1f2428;
    color: white;
    border: 1px solid #444;
}
.select2-dropdown{
    border: 0px !important;
}
.select2-container .select2-results__option {
    background-color: #1f2428;
    color: white;
}
.selection{
    height: 1.2em;
    padding: 0 !important;
    min-height: fit-content;
}
.select2-search--inline {
  display: flex !important;
  height:5px;
  align-items: center !important;
}

.select2-search__field {
  display: block !important;
  height: auto !important;
  padding: 0.5em 0.5em !important;
  line-height: inherit !important;
  margin: 0 !important;
  box-sizing: border-box;
  font: inherit;
}
.select2-selection__choice__remove:hover {
    background-color: #3e454b !important;
    color: white !important;
}

#objectSelector > option {
    display: none !important;
}

.select2-container .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: #666 #1d2023;
}

.select2-container .select2-results__options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.select2-container .select2-results__options::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.select2-container .select2-results__options::-webkit-scrollbar-track {
  background: #1d2023;
  border-radius: 10px;
}

.select2-container .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
}
.select2-container--default .select2-results__option--highlighted {
  background-color: #191b1e !important;
  color: white !important;
}
.directories-area:disabled {
    width: 90%;
    background-color: #1d2023;
    color: white;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    resize: none;
    border: 1px solid #444;
}
.select2-container--focus .select2-selection {
    box-shadow: 0 0 5px #2cff2c !important;
    border-color: #2cff2c !important;
}